// ICON CONTAINER

.map-icon-symbol {
  @extend %map-icon !optional;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
}

.map-icon-symbol__wrapper{
  position: relative;
  top: 3px;
}

// ICON BODY
.map-icon-symbol__body {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--internal-px-map-icon-info-color);
  border-radius: 100%;
  position: absolute;
  border: 2px solid var(--internal-px-map-icon-border-color);
}

// ICON DESCENDER
.map-icon-symbol__descender {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 4px 0;
  border-color: var(--internal-px-map-icon-info-color) transparent transparent transparent;
  position: absolute;
  left: 17px;
  top: 37px;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 7px 0px;
    border-color: var(--internal-px-map-icon-border-color) transparent transparent;
    position: absolute;
    z-index: -1;
    left: -7px;
    top: -12px;
    transform: scaleY(1.1);
  }
}

.map-icon-symbol__symbol--container{
  position: relative;
  width: 100%;
  height: 100%;
}

.map-icon-symbol__symbol {
  color: var(--internal-px-map-icon-symbol-color);
  position: absolute;
  font-size: calculateRem(15px);
}

// ICON MODIFIERS
// Use a modifier to change the color and appearance of an icon.

// 'info' modifier - sets the info-icon-color (defaults to $alert-blue)
.map-icon-symbol--info .map-icon-symbol__body {
  background-color: var(--internal-px-map-icon-info-color);
}
.map-icon-symbol--info .map-icon-symbol__descender {
  border-top-color: var(--internal-px-map-icon-info-color);
}

// 'important' modifier - sets icon-important-color (defaults to $alert-red)
.map-icon-symbol--important .map-icon-symbol__body {
  background-color: var(--internal-px-map-icon-important-color);
}
.map-icon-symbol--important .map-icon-symbol__descender {
  border-top-color: var(--internal-px-map-icon-important-color);
}

// 'warning' modifier - sets icon-warning-color (defaults to $alert-orange)
.map-icon-symbol--warning .map-icon-symbol__body {
  background-color: var(--internal-px-map-icon-warning-color);
}
.map-icon-symbol--warning .map-icon-symbol__descender {
  border-top-color: var(--internal-px-map-icon-warning-color);
}

// 'unknown' modifier - sets icon-unknown-color (defaults to $dv-light-gray)
.map-icon-symbol--unknown .map-icon-symbol__body {
  background-color: var(--internal-px-map-icon-unknown-color);
}
.map-icon-symbol--unknown .map-icon-symbol__descender {
  border-top-color: var(--internal-px-map-icon-unknown-color);
}

// ICON BADGE
// Only visible if applied with a modifier

.map-icon-symbol__badge {
  display: block;
}

%map-icon-symbol__badge--diamond {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--internal-px-map-icon-warning-color);
  border: 2px solid var(--internal-px-map-icon-border-color);
  transform: rotate(45deg);
  position: absolute;
  left: 26px;
  top: 0px;
}

%map-icon-symbol__badge--triangle {
  display: block;
  position: absolute;
  left: 24px;
  top: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 18px;
  border-color: transparent transparent var(--internal-px-map-icon-border-color) transparent;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 12px;
    border-color: transparent transparent var(--internal-px-map-icon-important-color) transparent;
    z-index: 0;
    position: absolute;
    left: -7px;
    top: 4px;
  }
}

// ICON BADGE MODIFIERS
// Use to add a badge (small alert symbol) to the icon. These modifiers should
// be extended inside one of the map icon type modifiers

// 'important' and 'with-badge' modifier - adds the triangle icon
.map-icon-symbol--important.map-icon-symbol--with-badge .map-icon-symbol__badge {
  @extend %map-icon-symbol__badge--triangle;
  &:after { border-color: transparent transparent var(--internal-px-map-icon-important-color) transparent; }
}

// 'warning' and 'with-badge' modifier - adds the triangle icon
.map-icon-symbol--warning.map-icon-symbol--with-badge .map-icon-symbol__badge {
  @extend %map-icon-symbol__badge--diamond;
  background-color: var(--internal-px-map-icon-warning-color);
}
