// ICON CONTAINER
// $px-map-icon-unknown-color:                         var(--internal-px-map-icon-unknown-color, $dv-light-gray);
// $px-map-icon-info-color:                            var(--internal-px-map-icon-info-color, $primary-blue);
// $px-map-icon-warning-color:                         var(--internal-px-map-icon-warning-color, $alert-orange);
// $px-map-icon-important-color:                       var(--internal-px-map-icon-important-color, $alert-red);
// $px-map-icon-border-color:                          var(--internal-px-map-icon-border-color, $gray1);

.map-icon-static {
  @extend %map-icon !optional;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
}

.map-icon-static__wrapper{
  position: relative;
  top: 3px;
}

// ICON BODY
.map-icon-static__body {
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--internal-px-map-icon-info-color);
  border-radius: 100%;
  position: absolute;
  border: 2px solid var(--internal-px-map-icon-border-color);
}

// ICON DESCENDER
.map-icon-static__descender {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 4px 0;
  border-color: var(--internal-px-map-icon-info-color) transparent transparent transparent;
  position: absolute;
  left: 4px;
  top: 12px;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 7px 0px;
    border-color: var(--internal-px-map-icon-border-color) transparent transparent;
    position: absolute;
    z-index: -1;
    left: -7px;
    top: -12px;
    transform: scaleY(1.1);
  }
}

// ICON MODIFIERS
// Use a modifier to change the color and appearance of an icon.

// 'info' modifier - sets the info-icon-color (defaults to $alert-blue)
.map-icon-static--info .map-icon-static__body {
  background-color: var(--internal-px-map-icon-info-color);
}
.map-icon-static--info .map-icon-static__descender {
  border-top-color: var(--internal-px-map-icon-info-color);
}

// 'important' modifier - sets icon-important-color (defaults to $alert-red)
.map-icon-static--important .map-icon-static__body {
  background-color: var(--internal-px-map-icon-important-color);
}
.map-icon-static--important .map-icon-static__descender {
  border-top-color: var(--internal-px-map-icon-important-color);
}

// 'warning' modifier - sets icon-warning-color (defaults to $alert-orange)
.map-icon-static--warning .map-icon-static__body {
  background-color: var(--internal-px-map-icon-warning-color);
}
.map-icon-static--warning .map-icon-static__descender {
  border-top-color: var(--internal-px-map-icon-warning-color);
}

// 'unknown' modifier - sets icon-unknown-color (defaults to $dv-light-gray)
.map-icon-static--unknown .map-icon-static__body {
  background-color: var(--internal-px-map-icon-unknown-color);
}
.map-icon-static--unknown .map-icon-static__descender {
  border-top-color: var(--internal-px-map-icon-unknown-color);
}

// ICON BADGE
// Only visible if applied with a modifier

.map-icon-static__badge {
  display: block;
}

%map-icon-static__badge--diamond {
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--internal-px-map-icon-warning-color);
  border: 2px solid var(--internal-px-map-icon-border-color);
  transform: rotate(45deg);
  position: absolute;
  left: 8px;
  top: 0px;
}

%map-icon-static__badge--triangle {
  display: block;
  position: absolute;
  left: 3px;
  top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 16px;
  border-color: transparent transparent var(--internal-px-map-icon-border-color) transparent;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 10px;
    border-color: transparent transparent var(--internal-px-map-icon-important-color) transparent;
    z-index: 0;
    position: absolute;
    left: -6px;
    top: 4px;
  }
}

// ICON BADGE MODIFIERS
// Use to add a badge (small alert symbol) to the icon. These modifiers should
// be extended inside one of the map icon type modifiers

// 'important' and 'with-badge' modifier - adds the triangle icon
.map-icon-static--important.map-icon-static--with-badge .map-icon-static__badge {
  @extend %map-icon-static__badge--triangle;
  &:after { border-color: transparent transparent var(--internal-px-map-icon-important-color) transparent; }
}

// 'warning' and 'with-badge' modifier - adds the triangle icon
.map-icon-static--warning.map-icon-static--with-badge .map-icon-static__badge {
  @extend %map-icon-static__badge--diamond;
  &:after { border-color: transparent transparent var(--internal-px-map-icon-warning-color) transparent; }
}
